/*-- scss:defaults --*/

$presentation-heading-color: #00539B;
$presentation-title-slide-text-align: "left";
$presentation-font-size-root: 36px;
$code-block-font-size: 0.7em;
$link-color: #339898;

/*-- scss:rules --*/

details>summary {
  font-size: 0.75em;
}

.smaller {
  font-size: 0.5em;
}

.small {
  font-size: 0.75em;
}

.midi {
font-size: 0.85em;
}

.larger {
  font-size: 1.5em;
}

.largest {
  font-size: 3em;
}


